<html>
  <body>
    <h1>McBean Demonstration</h1>
    <img src="sneetches.jpg">
    <p>
    <form method="post" action="/fetch">
      Enter a URL:
      <input name="url" maxlength="256" value=""/>
      <button type="submit">Fetch it as Markdown!</button>
    </form>
    <small>
      Powered by <a href="http://github.com/flavorjones/mcbean">McBean</a>, <a href="http://github.com/flavorjones/loofah">Loofah</a> and <a href="http://github.com/tenderlove/nokogiri">Nokogiri</a>. Source code at <a href="http://github.com/flavorjones/mcbean-heroku">http://github.com/flavorjones/mcbean-heroku</a>.
    </small>
  </body>
</html>
